body{
    background-image:url("../images/bg_Argyle.jpg");
    text-align: center
}
form{
    margin: auto;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: solid 2px gray;
    box-shadow: 2px 2px 4px gray;
}
label{
    padding:2px;
    margin: 0px;
    border-radius: 5px;
    border: solid 2px gray;
}
.flex{
    margin: 10px;
}
.button{
    margin: 10px;
}